html, body {
	margin: 0;
	width: 100%;
	height: 100%;
}

.body2 {
	background-color: #292929;
	margin: 0;
}

.logo_f {
	color: white;
	font-size: 30px;

}

.main_f {
	margin-top: 40px;
}

.slide_1 {
	height: 500px;
	border-radius: 10px;
	background: -webkit-linear-gradient(90deg, #082fef,#9d28f4,#e727f5);
	background: linear-gradient(90deg, #082fef,#9d28f4,#e727f5);
}

.slide_1 h1 {
	margin: 180px 0 0 0;
	text-align: center;
	color: white;
	font-size: 45px;
	font-family: trebuchet ms, sans-serif;
	font-weight: bold;
}

.slide_1 h3 {
	margin: 30px 0 0 0;
	text-align: center;
	color: white;
	font-family: century gothic, sans-serif;
	font-size: 20px;
	font-weight: normal;
}

.hr_f {
	margin: 100px 0 0 0;
	color: white;
	size: 50px;
	border: none;
	background-color: white;
	height: 1px;
	border-radius: 10px;
}

.profile {
	display: flex;
	border: 3px solid white;
	border-radius: 8px;
	width: fit-content;
	margin: 10px auto;
	cursor: pointer;
	-webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.profile:hover {
  box-shadow: 0 12px 16px 0 rgba(71, 71, 71), 0 17px 50px 0 rgba(36, 36, 36);
}

.profile p {
	color: white;
	font-family: century gothic, sans-serif;
	font-weight: bold;
	font-size: 14px;
	margin: 5px 10px 0 0;
}

.profile img {
	margin: 0 2px 0 0;
	padding: 4px;
	vertical-align: middle;
}

.topnav_text {
	color: white;
	font-family: century gothic, sans-serif;
	font-weight: bold;
	font-size: 14px;
	margin: 15px 20px;
}

.text_main_now {
	color: white;
	margin: 50px 0;
	font-size: 30px;
	font-weight: bold;
}

.film {
	border-radius: 10px;
	position: relative;
	display: block;
	background-color: white;
	margin-top: 20px;
	margin-bottom: 50px;
}

.film img {
	height: 450px;
	border-radius: 10px 10px 0 0;
}

.film p {
	font-family: tahoma, sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin: 10px 15px;
}

.film button {
	border: none;
	color: white;
	font-weight: bold;
	padding: 7px 10px;
	margin: 0 15px 15px;
	font-family: century gothic, sans-serif;
	font-size: 14px;
	border-radius: 8px;
	background: -webkit-linear-gradient(90deg, #082fef,#9d28f4,#e727f5);
	background: linear-gradient(90deg, #082fef,#9d28f4,#e727f5);
}

.reiting {
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: #e727f5;
	color: white;
	border-radius: 10px;
}

.reiting p {
	margin: 7px;
	font-size: 16px;
}

.swiper-slide img {
	height: 500px; 
	border-radius: 10px;
}

@media (max-width: 1024px) {
  /* Стили для планшетов */
  .swiper {
		height: 300px; 
	}

	.swiper-slide img {
		height: 300px; 
	}

	.slide_1 {
		height: 300px;
	}

	.slide_1 h1 {
		margin: 50px 10px 0px 10px;
		font-size: 40px;
	}

	.slide_1 h3 {
		margin: 20px 0 0 0;
		font-size: 30px;
	}
}


@media (max-width: 480px) {
  .swiper {
		height: 200px; 
	}

	.swiper-slide img {
		height: 200px; 
	}

	.slide_1 {
		height: 200px;
	}

	.slide_1 h1 {
		margin: 30px 10px 0px 10px;
		font-size: 30px;
	}

	.slide_1 h3 {
		margin: 20px 0 0 0;
		font-size: 20px;
	}
}